<div >
    <div >
        <!-- <ng-container *ngFor="let detailof data.details; let index = index" [ngClass]="{'myStyle': 0 === index % 2}">...</ng-container> -->
      <div *ngFor="let card of cards; even as isEven" [ngStyle]="{ background: isEven ? 'lightblue' : 'white' }">
      <div>
        <div>
          <img [src]="card.img" alt="Card image cap">
       
          <div>
         
              <h4>{{card.title}}</h4>
        
  
          
            <p> {{card.description}}</p> 
  
  
            <button>{{card.buttonText}}</button>
        </div>
        </div>
    </div>
      </div>
    </div>
  </div>
